body, .adp-text, .adp-summary, .adp-substep, .adp-legal {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.adp-text, .adp-summary, .adp-substep {
  font-size: larger;
}

body{
	background: #D3E3D0;
}

body input {
	width:150px; 
	height:15px;
}

p {
  font-size: 24px;
  margin: 5px 0px;
}

.button {
  padding: 0.5rem;
}

#map_canvas {
  height: 400px;
}

#routeEnd {
  font-size: medium;
  } 

#routeForm {
  font-size: medium;
}

.adp-warnbox{
	display:none
}

.adp-placemark img{
	display:none;
}

@media print {
    .onlyscreen {
    display: none;
  }